@charset "utf-8";


/*HEADER*/
	#header_wrap { width:100%; height:205px; position:relative; }
	#header_wrap .headColor { width:100%; height:154px; background:#fcb9c0; }
	.headColor span { font-size:20px; font-weight:400; margin:130px 0 0 500px; display:inline-block; font-family:'Noto Sans KR'; }
	.headCircle { position:absolute; top:41px; left:180px; }

	#header_wrap h1 { font-size:60px; position:absolute; top:80px; left:290px; font-family:'Playfair Display'; }

/*CONTENT*/
	#content_wrap { margin-top:40px; }
	#content_wrap .content_inner { width:1360px; height:2100px; margin:0 auto; position:relative; } 

	.content_inner .introduce { width:345px; height:1300px; font-family:'Noto Sans KR'; float:left; }
	.introduce h3 { font-size:30px; font-weight:500; }
	.introduce h3>span { font-size:36px; font-weight:700; }

	#content_wrap .blackDot { width:20px; height:20px; background:#000; border-radius:50%; margin-top:40px; display:inline-block; }

	#content_wrap .introCont { font-size:18px; line-height:1.6; font-weight:400; margin-top:40px; }
	#content_wrap .introTit { font-family:'Playfair Display'; font-size:25px; }

	.introduce .progress { display:inline-block; width:250px; font-family:'Playfair Display'; margin-top:200px; }

	.progress>span { display:inline-block; }
	.progress>span:first-child { margin-bottom:20px; }

	.introduce .progress p { font-size:20px; display:inline-block; }
	.introduce .progress .bar { width:100px; height:12px; display:inline-block; background:#7f7f7f; border-radius:6px; margin-left:20px; }
	.introduce .progress>span:nth-child(2) .bar { width:30px; }

	.progress .percent { font-size:18px; color:#7f7f7f; display:inline-block; margin-left:10px; }
	.progress>span:nth-child(2) .percent { margin-left:80px; }

	.introduce .introTit { margin-top:200px; }

	#content_wrap .deImg { width:945px; box-shadow:2px 2px 4px #c8c8c8; position:absolute; z-index:9;  }
	#content_wrap .deImg:nth-child(2) { top:0; right:0; }
	#content_wrap .deImg:nth-child(3) { top:1000px; left:0; }
	#content_wrap .deImg:nth-child(4) { top:2280px; left:0; }
	#content_wrap .deImg:nth-child(6) { top:2810px; left:0; }

	.content_inner .introduce2 { width:345px; height:800px; font-family:'Noto Sans KR'; position:absolute; top:1200px; right:0;
		text-align:right; }
	.introduce2>img { margin-top:40px; }

	.introduce2 .introTit { margin-top:100px; }
	.introduce2 .introCont:nth-child(5) { margin-bottom:15px; }

	.introduce2 .noto { font-family:'Noto Serif KR'; font-size:18px; margin-top:40px; line-height:1.6; }

	.introduce2 .introCont:nth-child(8) { margin-bottom:15px; }

	#color_wrap { background:#fcb9c0; position:relative;  }

	#color_wrap .content_inner { width:1360px; height:2100px; margin:0 auto; }
	#color_wrap .deImg { margin-top:210px; }

	#color_wrap .blackDot { position:absolute; bottom:100px; right:0; }

	#color_wrap .introduce { float:right; width:340px; height:50px; text-align:right; margin-top:250px; }
	#color_wrap .introTit { margin:0; }

	#color_wrap .coImg { width:945px; position:absolute; }
	#color_wrap .coImg:nth-child(1) { width:945px; position:absolute; z-index:9; top:400px; right:0; }
	#color_wrap .coImg:nth-child(2) { width:945px; position:absolute; z-index:9; top:1100px; right:0; }



